@import url('scss/desktop_containers.css');
@import url('scss/desktop_elements.css');
@import url('scss/mobile_containers.css');
@import url('scss/mobile_elements.css');
@import url('scss/tablet_containers.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:400,600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: 0px; 
}
body {
    max-width: 1440px;
    min-width: 300px;
    margin: auto;
    background-color: #ffffff; 
}